<p>Rechercher un ?
<%= select_tag :model_type ,
               options_for_select(model_list
                )%></p>
<p>Résultats par pages: <%= select_tag :per_page ,
               options_for_select(per_page_result
                )%></p>
