<div id="sign_in_status" class="span-5">
  <p>You are signed in as <%=current_user.name %> </p>
  
  <%= link_to image_tag("login.png", :border=>0)  ,:controller =>'sessions' ,:action =>'destroy' %>
</div>