
 <fieldset>
<p><b>Numero de T.V.A  : </b><%=financial_data.tva_number%></p>
<p><b>Taux de T.V.A    : </b><%=financial_data.tva_rate%></p>
<p><b>Compte en Banque :</b><%= financial_data.bank_account %></p>
</fieldset>