<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render :partial => 'client_list',:collection => @clients ,:as=>:client %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
