<fieldset>
<p><b>Description       : </b><%= contact.description %></p>
<p><b>Type de Contact   : </b><%= contact.genre %></p>
<p><b>Donnée du Contact : </b><%= contact.contact_data %></p>
</fieldset>