<ul id="breadcrumb">
  <% @breadcrumb.each do |crumb| %>
      <li>/<a href="<%= url_for file_browser_path :dir => crumb[:url] %>" title="Go to '<%= crumb[:name] %>' folder"><%= crumb[:name] %></a></li>
  <% end %>
</ul>