
 <fieldset>
<p><b>Type de composant  : </b><%=project_component.component_type%></p>
<p><b>Matiere    : </b><%=project_component.component_matter %></p>
<p><b>Nombre    :</b><%= project_component.number_of_component %></p>
<p><b>Information   :</b><%= project_component.component_info %></p>
</fieldset>