<tr>
   <td>
     <%=project_component.component_type%></td>
   <td>
     <%=project_component.component_matter %></td>
   <td>
     <%= project_component.number_of_component %></td>
   <td>
     <%= project_component.component_info %>
   </td>
</tr>