<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @project.client_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', client_projects_path(@project.client_id) %>
