#sidebar { 


background-color: lightgreen;
}
#sign_in {
width: 200px;

}
#sign_in_legend{
 color: red;

}
#sign_in_status_box{
    float: right
}
#sign_in_box{background-color:#E5ECF9;
             padding-left:10px;
             padding-right:10px}

body{background-color:gray;}

#container{
    background-color:#f5f5f5;}
#footer{
    background-color:#E5ECF9;
}