<h1>Listing Files</h1>

<h3>Number of records: <%= @uploaded_files.count %> </h3>
<%= link_to 'New upload', :action => 'upload' %>
<table id="gallery">
  <tr>
    <th>Id</th>
    <th>Name </th>
    <th>Path</th>
    <th>Content_Type</th>
    <th>File_Size</th>
    <th></th>
  </tr>

  <%= render :partial => 'show_file' ,:collection => @uploaded_files ,:as=>:uploaded%>

</table>

<br />
