<h1>File Upload</h1>
<%= form_tag  'post_upload',
                        :multipart => true do %>
<%=session[:model_name]   %>
<p><label for="post_upload">Select File</label> :
<%= file_field 'post_upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
<% end %>